{% extends "master.html" %}

{% block title %}
Add Listing
{% endblock %}

{% block body %}
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Ian's Store</a>
        <ul class="nav justify-content-end">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
        </ul>
    </div>
</nav>
<h1>Add Listing</h1>
<form action="{{ url_for('addListing') }}" method=post>
    <div class="container">
        <label for="email">Item Name:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="item" required>
        </div>
        <label for="password">Price:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" name="price" placeholder="0.00" min="0" step="0.01" required>
        </div>
    </div>
    <br>

    <button type="submit" class="btn btn-secondary">Add Listing</button>
</form>
{% endblock %}